{% extends 'base.html.twig' %}

{% block title %}ADD Book{% endblock %}

{% block body %}
    <h1>Add new Book</h1>
<br>
    {{ include('book/_form.html.twig') }}

    <a href="{{ path('app_book_index') }}">back to list</a>
{% endblock %}
